@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  color: #8F95A5;
  font-size: 16px;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

._container {
  max-width: 1348px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 176px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 20;
}
.header__logo span {
  color: #8F95A5;
}
@media (max-width: 965px) {
  .header__logo {
    font-size: 30px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.menu__body {
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
@media (max-width: 767.98px) {
  .menu__body {
    background-color: #e4e4e4;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 100px 0px 20px 0px;
  }
  .menu__body._active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 965px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .menu__list li {
    margin-top: 20px;
  }
}
.menu__link {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #263238;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 25px;
    text-align: center;
  }
}
.menu__btn {
  border: 2px solid #263238;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  border-radius: 5px;
  font-family: "Poppins";
  padding: 28px 41px;
  font-weight: 400;
  font-size: 24px;
  line-height: 14.8760330579%;
  color: #000000;
}
.menu__btn:hover {
  color: #FFFFFF;
  background-color: #263238;
}
@media (max-width: 965px) {
  .menu__btn {
    padding: 18px 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn_2 {
  display: none;
}
@media (max-width: 767.98px) {
  .menu__btn_2 {
    display: inline-block;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    position: relative;
    width: 30px;
    height: 17px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #39515E;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    width: 21px;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
    width: 30px;
  }
}

.photo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 965px) {
  .photo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.photo__texts {
  max-width: 526px;
}
.photo__titles {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photo__title {
  margin-bottom: 40px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  color: #000000;
}
@media (max-width: 542px) {
  .photo__title {
    font-size: 44px;
  }
}
@media (max-width: 389px) {
  .photo__title {
    font-size: 38px;
  }
}
.photo__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #8F95A5;
  margin-bottom: 61px;
}
@media (max-width: 542px) {
  .photo__text {
    font-size: 18px;
  }
}
@media (max-width: 389px) {
  .photo__text {
    font-size: 14px;
  }
}
.photo__btn {
  background: #263238;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  border-radius: 15px;
  font-family: "Poppins";
  padding: 32px 118px;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
}
.photo__btn:hover {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
@media (max-width: 542px) {
  .photo__btn {
    font-size: 20px;
  }
}
@media (max-width: 389px) {
  .photo__btn {
    font-size: 16px;
    padding: 20px 100px;
  }
}
@media (max-width: 965px) {
  .photo__image {
    margin-bottom: 25px;
  }
}
.photo__image img {
  max-width: 100%;
}

.skills {
  padding: 100px 0px 250px 0px;
}
.skills__title {
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 166.6666666667%;
  color: #000000;
  margin-bottom: 92px;
}
.skills__grid {
  display: -ms-inline-grid;
  display: inline-grid;
  gap: 18px;
  -ms-grid-columns: 1fr 18px 1fr 18px 1fr;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 960px) {
  .skills__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills__item {
  background: #F5F5F5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills__item_big {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
@media (max-width: 960px) {
  .skills__item_big {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
}
.skills__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.skills__image img {
  max-width: 100%;
}
.skills__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 960px) {
  .skills__texts {
    text-align: center;
  }
}
.skills__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F95A5;
  margin-bottom: 36px;
}
.skills__btn {
  background: #263238;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 17px 63px;
}
.skills__btn:hover {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
@media (max-width: 1029px) {
  .skills__btn {
    padding: 15px 50px;
  }
}
@media (max-width: 400px) {
  .skills__btn {
    padding: 15px 40px;
  }
}

.skills__item_1 {
  padding: 35px 22px 92px 22px;
}

.skills__item_2 {
  padding: 0px 51px 44px 41px;
}
.skills__item_2__image {
  float: right;
}

.skills__item_3 {
  padding: 0px 51px 44px 41px;
}

.skills__item_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-grid-row-span: 1;
  grid-row: span 1;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 48px 44px 48px;
}
@media (max-width: 960px) {
  .skills__item_4 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
}
@media (max-width: 960px) {
  .skills__item_4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 266.6666666667%;
  color: #263238;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 965px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 43px;
}
@media (max-width: 500px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 500px) {
  .about__item {
    margin-top: 20px;
  }
}
.about__num {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 166.6666666667%;
  color: #2A3246;
}
.about__txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #8F95A5;
}
.about__image img {
  max-width: 100%;
}
@media (max-width: 965px) {
  .about__image {
    margin-bottom: 30px;
  }
}

.txtx {
  max-width: 635px;
}
.txtx__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 166.6666666667%;
  color: #000000;
}
@media (max-width: 500px) {
  .txtx__title {
    font-size: 35px;
  }
}
.txtx__texti {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #8F95A5;
  margin-top: 23px;
}

.pric {
  padding: 180px 0px 190px 0ex;
}
.pric__title {
  font-family: "Poppins";
  margin-bottom: 83px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 166.6666666667%;
  color: #000000;
}
@media (max-width: 1090px) {
  .pric__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.pric__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1090px) {
  .pric__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
.pric__item {
  max-width: 426px;
}

.item-pric__image {
  margin-bottom: 40px;
}
@media (max-width: 1090px) {
  .item-pric__image img {
    max-width: 100%;
  }
}
.item-pric__tit {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  line-height: 48 3000%;
  color: #263238;
  margin-bottom: 18px;
}
.item-pric__txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #8F95A5;
}
.item-pric__currency {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #EEEEEE;
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 21px;
  margin-top: 29px;
}
.item-pric__sum {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  color: #263238;
  margin-right: 8px;
}
.item-pric__per {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #546269;
}

.contackt {
  padding-bottom: 133px;
}
.contackt__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 111px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1162px) {
  .contackt__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contackt__image img {
  max-width: 100%;
}
.contackt__body {
  max-width: 753px;
}
.contackt__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 166.6666666667%;
  color: #000000;
  margin-bottom: 37px;
}
.contackt__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #8F95A5;
  margin-bottom: 52px;
}
.contackt__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media (max-width: 784px) {
  .contackt__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contackt__btn {
  background: #263238;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  padding: 19px 81px;
  color: #FFFFFF;
}

input {
  border: 1px solid #8F95A5;
  border-radius: 10px;
  padding: 28px 278px 28px 33px;
}
@media (max-width: 500px) {
  input {
    padding: 28px 100px 28px 30px;
  }
}

input::-webkit-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F95A5;
}

input::-moz-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F95A5;
}

input:-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F95A5;
}

input::-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F95A5;
}

input::placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F95A5;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #C4C4C4;
}
@media (max-width: 830px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0px;
  }
}
.footer__logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__logo span {
  color: #8F95A5;
}
@media (max-width: 830px) {
  .footer__logo {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .footer__logo {
    font-size: 28px;
  }
}
.footer__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #8F95A5;
  text-align: center;
}
@media (max-width: 550px) {
  .footer__text {
    font-size: 18px;
  }
}