@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    color: #8F95A5;
    font-size: 16px;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}

a {
    text-decoration: none;
}

._container {
    max-width: 1348px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

//@media (max-width: 1087px) {
//._container {
//max-width: 970px;
//}
//}
//@media (max-width: 992px) {
//._container {
//max-width: 750px;
//}
//}
//@media (max-width: 767.98px) {
//._container {
//max-width: none;
//}
//}
.wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {

    &__body {
        display: flex;
        height: 176px;
        align-items: center;
    }

    &__logo {
        font-weight: 400;
        font-size: 36px;
        line-height: 54 / 36 * 100%;
        color: #000000;
        flex: 1 1 auto;
        position: relative;
        z-index: 20;

        span {
            color: #8F95A5;
        }

        @media (max-width: 965px) {
            font-size: 30px;
        }
    }
}

.menu {
    display: flex;
    flex: 1 1 auto;

    @media (max-width: 767.98px) {
        flex: 0 0 auto;
    }

    &__body {
        position: relative;
        z-index: 3;
        transition: all 0.5s 0s ease;

        @media (max-width: 767.98px) {
            background-color: #e4e4e4;
            ;
            transform: translate(0, -100%);
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: auto;
            padding: 100px 0px 20px 0px;

            &._active {
                transform: translate(0, 0);
            }
        }
    }

    &__list {
        display: flex;
        gap: 32px;
        justify-content: center;

        @media (max-width: 965px) {
            gap: 20px;
        }

        @media (max-width: 767.98px) {
            display: block;
            text-align: center;
        }

        li {
            @media (max-width: 767.98px) {
                margin-top: 20px;
            }
        }
    }

    &__link {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: #263238;

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 767.98px) {
            font-size: 25px;
            text-align: center;
        }

    }

    &__btn {
        border: 2px solid #263238;
        transition: all 0.6s ease 0s;
        border-radius: 5px;
        font-family: 'Poppins';
        padding: 28px 41px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36 / 242 * 100%;
        color: #000000;

        &:hover {
            color: #FFFFFF;
            background-color: #263238;
        }

        @media (max-width: 965px) {
            padding: 18px 20px;
        }

        @media (max-width: 767.98px) {
            display: none;
        }
    }
}

.menu__btn_2 {
    display: none;

    @media (max-width: 767.98px) {
        display: inline-block;
    }
}

.icon-menu {
    @media (max-width: 767.98px) {
        position: relative;
        width: 30px;
        height: 17px;
        cursor: pointer;
        z-index: 5;

        span {
            transition: all 0.5s 0s ease;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 10px;
            background-color: #39515E;

            &:first-child {
                top: 0px;
            }

            &:last-child {
                top: auto;
                bottom: 0px;
                width: 21px;
            }
        }

        &._active {
            span {
                transform: scale(0);

                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                    width: 30px;
                }
            }
        }
    }
}

.photo {

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 965px) {
            flex-direction: column-reverse;
        }
    }

    &__texts {
        max-width: 526px;
    }

    &__titles {
        display: inline-flex;
        align-items: center;
    }

    &__title {
        margin-bottom: 40px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 64px;
        line-height: 80 / 64 * 100%;
        color: #000000;

        @media (max-width: 542px) {
            font-size: 44px;
        }

        @media (max-width: 389px) {
            font-size: 38px;
        }
    }

    &__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36 / 24 * 100%;
        color: #8F95A5;
        margin-bottom: 61px;

        @media (max-width: 542px) {
            font-size: 18px;
        }

        @media (max-width: 389px) {
            font-size: 14px;
        }
    }

    &__btn {
        background: #263238;
        transition: all 0.6s ease 0s;
        border-radius: 15px;
        font-family: 'Poppins';
        padding: 32px 118px;
        font-weight: 400;
        font-size: 36px;
        line-height: 54 / 36 * 100%;
        color: #FFFFFF;

        &:hover {
            color: #000000;
            background-color: #FFFFFF;
            border: 1px solid #000000;
        }

        @media (max-width: 542px) {
            font-size: 20px;
        }

        @media (max-width: 389px) {
            font-size: 16px;
            padding: 20px 100px;
        }
    }

    &__image {
        @media (max-width: 965px) {
            margin-bottom: 25px;
        }

        img {
            max-width: 100%;
        }
    }
}



.skills {
    padding: 100px 0px 250px 0px;

    &__title {
        text-align: center;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
        line-height: 80 / 48 * 100%;
        color: #000000;
        margin-bottom: 92px;
    }

    &__grid {
        display: inline-grid;
        gap: 18px;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 960px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        background: #F5F5F5;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;

        &_big {
            grid-row: span 2;
            @media (max-width: 960px) {
                grid-row: span 1;
            }
        }
    }

    &__image {
        flex: 1 1 auto;
        img {
            max-width: 100%;
        }
    }

    &__texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 960px) {
            text-align: center;
        }
    }

    &__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24 / 16 * 100%;
        color: #8F95A5;
        margin-bottom: 36px;
    }

    &__btn {
        background: #263238;
        transition: all 0.6s ease 0s;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27 / 18 * 100%;
        color: #FFFFFF;
        padding: 17px 63px;

        &:hover {
            color: #000000;
            background-color: #FFFFFF;
            border: 1px solid #000000;
        }
        @media (max-width: 1029px) {
            padding: 15px 50px;
        }
        @media (max-width: 400px) {
            padding: 15px 40px;
        }
    }
}

.skills__item_1 {
    padding: 35px 22px 92px 22px;
}

.skills__item_2 {
    padding: 0px 51px 44px 41px;

    &__image {
        float: right;
    }
}

.skills__item_3 {
    padding: 0px 51px 44px 41px;
}

.skills__item_4 {
    display: flex;
    flex-direction: row-reverse;
    grid-row: span 1;
    grid-column: span 2;
    align-items: center;
    padding: 22px 48px 44px 48px;
    @media (max-width: 960px) {
        grid-row: span 1;
        grid-column: span 1;
    }
    @media (max-width: 960px) {
        flex-direction: column;
    }
}

.skills__titles {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80 / 30 * 100%;
    color: #263238;
}

.about {

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 965px) {
            flex-direction: column-reverse;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 43px;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    &__item {
        @media (max-width: 500px) {
            margin-top: 20px;
        }
    }

    &__num {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
        line-height: 80 / 48 * 100%;
        color: #2A3246;
    }

    &__txt {
        font-weight: 400;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: #8F95A5;
    }

    &__image {
        img {
            max-width: 100%;
        }

        @media (max-width: 965px) {
            margin-bottom: 30px;
        }
    }
}

.txtx {
    max-width: 635px;

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 80 / 48 * 100%;
        color: #000000;

        @media (max-width: 500px) {
            font-size: 35px;
        }
    }

    &__texti {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: #8F95A5;
        margin-top: 23px;
    }
}

.pric {
    padding: 180px 0px 190px 0ex;

    &__title {
        font-family: 'Poppins';
        margin-bottom: 83px;
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 80 / 48 * 100%;
        color: #000000;
    }

    &__body {
        @media (max-width: 1090px) {
            display: flex;
            justify-content: center;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1090px) {
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__item {
        max-width: 426px;
    }
}

.item-pric {
    &__image {
        margin-bottom: 40px;

        img {
            @media (max-width: 1090px) {
                max-width: 100%;
            }
        }
    }

    &__tit {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 30px;
        line-height: 48 30 * 100%;
        color: #263238;
        margin-bottom: 18px;
    }

    &__txt {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: #8F95A5;
    }

    &__currency {
        display: inline-flex;
        background: #EEEEEE;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        padding: 0px 21px;
        margin-top: 29px;
    }

    &__sum {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 30px;
        line-height: 45 / 30 * 100%;
        color: #263238;
        margin-right: 8px;
    }

    &__per {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27 / 18 * 100%;
        color: #546269;
    }
}

.contackt {
    padding-bottom: 133px;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 111px;
        align-items: center;
        @media (max-width: 1162px) {
            flex-direction: column;
        }
    }

    &__image {
        img {
            max-width: 100%;
        }
    }

    &__body {
        max-width: 753px;
    }

    &__title {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
        line-height: 80 / 48 * 100%;
        color: #000000;
        margin-bottom: 37px;
    }

    &__text {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: #8F95A5;
        margin-bottom: 52px;
    }

    &__form {
        display: flex;
        gap: 12px;
        @media (max-width: 784px) {
            flex-direction: column;
        }
    }

    &__btn {
        background: #263238;
        border-radius: 10px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        padding: 19px 81px;
        color: #FFFFFF;

    }
}

input {
    border: 1px solid #8F95A5;
    border-radius: 10px;
    padding: 28px 278px 28px 33px;
    @media (max-width: 500px) {
        padding: 28px 100px 28px 30px;
    }
}

input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24 / 16 * 100%;
    color: #8F95A5;
}

.footer {

    &__content {
        display: flex;
        height: 95px;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #C4C4C4;

        @media (max-width: 830px) {
            flex-direction: column;
            justify-content: center;
            padding: 60px 0px;
        }
    }

    &__logo {
        font-weight: 400;
        font-size: 36px;
        line-height: 54 / 36 * 100%;
        color: #000000;
        flex: 1 1 auto;

        span {
            color: #8F95A5;
        }

        @media (max-width: 830px) {
            margin-bottom: 15px;
        }
        @media (max-width: 550px) {
            font-size: 28px;
        }
    }

    &__text {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 24px;
        line-height: 36 / 24 * 100%;
        color: #8F95A5;
        text-align: center;
        @media (max-width: 550px) {
            font-size: 18px;
        }
    }
}